/*********************** CUSTOM PROPERTIES************** */

/********************** Reset Styles ***********/
body {
  font-family: "Josefin Sans", sans-serif;
}
/* ********************BOOTSTRAP STYLES ***************************/
.navbar-brand img {
  height: 70px;
  width: auto;
}
.nav-item {
  transition: all 0.3s ease-in-out;
}
.nav-item:hover {
  background-color: green;
  border-radius: 5px;
}
.nav-link {
  padding-left: 0.5rem;
  font-weight: bold;
}
.input-group-sm {
  width: auto; /* Cambia este valor para ajustar el ancho del input */
}
.input-group-text img {
  height: 70px;
  width: auto;
}

/* ********************MY STYLES **********************************/
.bg-my-selecction {
  background-color: whitesmoke;
}
.resize-my-styles {
  width: 14.375rem;
}
@media (max-width: 420px) {
  .mystyleresizemedia {
    display: flex;
    justify-content: center;
  }
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-item:hover {
    background-color: transparent;
    border-radius: 0;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
